.wholeFooter{
    background-color: rgb(225, 247, 225);
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color: rgb(79, 145, 89);;
}
.seperatorRule{
    width: 150px;
    margin: 35px auto 10px auto;
    border: 5px solid rgb(36, 88, 45);
    opacity: 1;
    border-radius: 7px;

}
.getInTouch{
    background-color: rgb(37, 75, 43);
    height: 150px;
}
.gitText{
    color: white;
    margin: 40px 80px;
    font-size: 35px;
}
#gitButton{
    color: rgb(37, 75, 43);
    font-size: 20px;
    background-color: white;
    border: 0px;
    margin: auto 80px;
}
#gitButton:hover{
    background-color: rgb(225, 247, 225);
    color: rgb(37, 75, 43);
    border: 0px;
    margin: auto 80px;
}