* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 24%;
    padding: 10px;
}

.resource {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: -20px;
    width: 20%;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-color: transparent;
    min-width: 250px;
}

.resource_img {
    width: 100%;
}

.cust_size {
    margin: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
}

.custom_button {
    background-color: grey;
}