{% extends "base.html" %}
{% block head %}
<title>Update Product</title>
{% endblock %}

{% block body %}

<div id="addItem">
    <h3>Update the columns you want to update: </h3><br />

    <form action="{{url_for('UpdateProducts')}}" method="POST" enctype="multipart/form-data">

        <input type="text" value="{{product_id}}" name = "product_id" style="display: None;">
        <label for="productName">Product Name: </label>
        <input type="text" name="productName" id="productName" value={{toUpdate.name}}/><br /><br />

        <label for="productAuthor">Product Author: </label>
        <input type="text" name="productAuthor" id="productAuthor" value={{toUpdate.author}}/><br /><br />

        <label for="productDescription">Product Description: </label>
        <input type="text" name="productDescription" id="productDescription" value={{toUpdate.description}}/><br /><br />

        <label for="productPrice">Product Price: </label>
        <input type="text" name="productPrice" id="productPrice" value = {{toUpdate.price}}/><br /><br />

        <label for="productLink">Product Download Link: </label>
        <input type="text" name="productLink" id="productLink" value = {{toUpdate.link}}/><br /><br />


        <input type="file" name="productImage" id="productImage" />
        <input class="btn btn-primary" type="submit" value="Update in database" name="imageName" />

        <!-- <button class="btn btn-primary">Update in database</button> -->
    </form>
</div>

</form>
{% endblock %}