.addButton{
    width: 30%;
    margin: auto;

}
.removeButton{
    width: 30%;
    margin: auto;
}
#buttons{
    display: block;
}
#deleteItem{
    display: none;
    border: 1px solid black;
    margin: 20px auto 20px auto;
    padding: 50px;
}

#addItem{
    display: none;
    border: 1px solid black;
    margin: 20px auto 20px auto;
    padding: 50px;
}