<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/home_page_body.css">
    <link rel="stylesheet" href="/static/navbar.css" />
    <link rel="stylesheet" href="/static/footer.css">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {% block title %} {%endblock%}
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="padding: 0px"
    >
      <div class="container-fluid" style="background-color: rgb(225, 247, 225)">
        <a class="navbar-brand" class="nav-link" href="{{ url_for('home')}}"" style="color: rgb(36, 88, 45)"
          >Our E-Comerce Website
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <span class="navbar-text navLogger">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup')}}">SignUp</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
    {%block content%} {%endblock%}
    <footer class="page-footer font-small stylish-color-dark pt-4 wholeFooter">
      <!-- Call to action -->
      <section class="getInTouch">
        <ul
          class="list-unstyled list-inline text-center py-2"
          style="margin: 0px"
        >
          <li class="list-inline-item">
            <h5 class="mb-1 gitText">Having trouble?</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded" id="gitButton"
              >Get in touch!</a
            >
          </li>
        </ul>
      </section>
      <!-- Call to action -->

      <!-- Footer Links -->
      <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 mx-auto">
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
              Contact us!
            </h5>
            <p>
              (999) 100-76867<br />
              info@myminiproject.com<br />
              Somewhere in Milky Way Galaxy.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
              Social Media
            </h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="links">LinkedIn</a>
              </li>
              <li>
                <a href="#!" class="links">Twitter</a>
              </li>
              <li>
                <a href="#!" class="links">Facebook</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Policy</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="links">Terms of Use</a>
              </li>
              <li>
                <a href="#!" class="links">Privacy Policy</a>
              </li>
              <li>
                <a href="#!" class="links">Terms and Condition</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <hr class="seperatorRule" />

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2021 Copyright:
        <a href="https://mdbootstrap.com/" class="links"> VK and Team</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
