{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
  <div class="container-fluid" style="background-color: rgb(225, 247, 225)">
    <a class="navbar-brand" class="nav-link" href="{{ url_for('home')}}" style="color: rgb(36, 88, 45)">E-Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-text navLogger">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if session['logged_in'] %}
            <a class="nav-link" >Hi {{ session['username']|title }}</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if session['logged_in'] %}
            <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('signup')}}">SignUp</a>
            {% endif %}
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>
{% endblock %}